tunnel: YOUR_TUNNEL_ID
credentials-file: /Users/hollywoodclaw/.cloudflared/YOUR_TUNNEL_ID.json

ingress:
  - hostname: scanner-api.theinvestingclinic.com
    service: http://127.0.0.1:8000
  - service: http_status:404
